<! DOCTYPE HTML>

<html lang="fr" ng-app="homeControlsInterfaceApp">
<!-- Declaration of the Angular-app-module on the beginning 
     Texts in views in French because it is a French student project
     Function and variables in English to be understood by most people
-->
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>Contrôles de la maison</title>
    <!-- Frameworks add-->


   
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>-->
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <!-- Addition of our own JS files -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
    
<body ng-controller="navbarCtrl" class="blue-grey lighten-5">
    
    <!-- Navbar on the top -->
    
    <!-- Dropdown contents used in the  navabr-->
    <ul id="Notifications" class="dropdown-content"> 
        <li><a href="{{activePage}}"><span class="red-text">Important</span> <span class="new badge ">2</span></a></li>
        <li><a href="{{activePage}}"><span class="yellow-text text-darken-2">News</span></a></li>
    </ul>
    
    <ul id="User" class="dropdown-content">
        <li><p class="teal-text text-lighten2 center">Paramètres</p></li>
        <li><p class="teal-text text-lighten2 center" ng-click="changeUserName()">Changer de nom</p></li>
        <li><a href="{{activePage}}">Déconnexion</a></li>
    </ul>
    
    <!-- Navbar declaration -->
    <div class="navbar-fixed">
    <nav class="blue-grey darken-3">
        
        <div class="nav-wrapper">
  <a ng-href="activePage" data-activates="mobileMenu" class="button-collapse" ng-click="reload('activePage')"><i class="material-icons">menu</i></a>
            <a href="#/home" class="brand-logo center hide-on-small-only"><img src="Images/home.png" alt="logo" style="width : 60px; height : 60px;"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li ng-class="activeHome"><a href="#/home" ng-click="reload('#/home')">Home</a></li>
            <li ng-class="activeScenarios"><a href="#/scenarios" ng-click="reload('#/scenarios')">Scénarios</a></li>
            <li ng-class="activeObjets"><a href="#/objets" ng-click="reload('#/objets')">Objets</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
            <li>
                <a href="{{activePage}}" class="dropdown-button" data-beloworigin="true" data-activates="Notifications" ng-click="reload('activePage')">
                 Notifications <i class="material-icons right" style="line-height: 2;">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="{{activePage}}" class="dropdown-button" data-beloworigin="true" data-activates="User" ng-click="reload('activePage')">
                    <p><div class="chip"><img src="Images/loulou.png" alt="loulou">{{userName}}</div></p>
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobileMenu">
            <li ng-class="activeHome" ng-click="reload('#/home')"><a href="#/home">Home</a></li>
            <li ng-class="activeScenarios" ng-click="reload('#/scenarios')"><a href="#/scenarios">Scénarios</a></li>
            <li ng-class="activeObjets" ng-click="reload('#/objets')"><a href="#/objets">Objets</a></li>
             <a href="#/home" class="brand-logo center"><img src="Images/home.png" alt="logo" style="width : 80px; height : 80px; margin-top: 25chvw;"></a>
        </ul>
        </div>
    </nav>
    </div>
    
    <!-- Page's content -->

    <div ng-view class="view-frame"></div>
   
    
<!-- JQuery effects initialisation-->
<script>
    $( document ).ready(function(){});
    $('.button-collapse').sideNav({
      menuWidth: 200, 
      edge: 'left',
      closeOnClick: true //Close sideNav after selection
    }
  );
    $('.dropdown-button').dropdown({
         constrain_width: false
    });
</script>
    
</body>

</html>