
<div class="container">
<div class="row">
    <div class="col s12" id="objectsDisplaying">
        <!-- TODO -->
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class=" card white">
            <div class="container">
                <h5 class="center-align" style="padding-top : 20px;">Données à envoyer à la gestion automatisée</h5>
                <div class="divider" style="maring-bottom : 20px;"></div>
                <div class="row">
                    <form class="col s12" ng-submit="sendToAutomation(smart)">
                        <div class="row">
                            <div class="input-field col s6">
                                <select ng-model="smart.moment">
                                    <option value="" disabled selected>Moment de la journée</option>
                                    <option value="matin">Matin</option>
                                    <option value="jour">Jour</option>
                                    <option value="soir">Soir</option>
                                    <option value="nuit">Nuit</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="tempSDB" ng-model="smart.captTemperatureIntSdb">
                                <label for="tempSDB">Température de la salle de bain</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="tempSalle" ng-model="smart.captTemperatureIntSalle">
                                <label for="tempSalle">Température du salon</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="tempBR" ng-model="smart.captTemperatureIntChambre">
                                <label for="tempBR">Température de la chambre</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="tempExt" ng-model="smart.captTemperatureExt">
                                <label for="tempExt">Température extérieure</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="lumSalle" ng-model="smart.captLuminositeIntSalle">
                                <label for="lumSalle">Luminosité du salon</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="lumBR" ng-model="smart.captLuminositeIntChambre">
                                <label for="lumBR">Luminosité de la chambre</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="lumExt" ng-model="smart.captLuminositeExt">
                                <label for="lumExt">Luminosité extérieure</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="consTemp" ng-model="smart.consigneTemp">
                                <label for="consTemp">Consigne de température</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="consLum" ng-model="smart.consigneLum">
                                <label for="consLum">Consigne de luminosité</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="consCO2" ng-model="smart.consigneCo2">
                                <label for="consCO2">Consigne CO2</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" class="validate" id="valCO2" ng-model="smart.captCO2">
                                <label for="valCO2">Valeur du capteur CO2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 l2 push-l4 push-m8">
                                <button id="submit" class="btn waves-effect waves-light blue-grey darken-3" type="submit" name="action">Envoyer les données <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script> 
    $(document).ready(function() {
    $('select').material_select();
  });
</script>