<div class="container">
	
	<div class="row">
	    <form class="col l6 m8 s12 push-l3 push-m2">
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="first_name" type="text" class="validate">
	          <label for="first_name">Userame</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="password" type="password" class="validate">
	          <label for="password">Password</label>
	        </div>
	      </div>
	      <div class="row">
	      <div class="input-field col l4 m3 s4">
      			<input type="checkbox" id="test5" ng-model="checked"/>
      			<label class="blue-grey-text darken-3" id="admin" for="test5">Admin</label>
      		</div>
				<div class="input-field col l8 m9 s8" ng-show="checked">
	          <input id="admin-password" type="password" class="validate">
	          <label for="password">Admin password</label>
	        </div>
	    </div>
	    </div>
	    </form>
	  </div>
	</div>
</div>